.jfx-decorator {
    -fx-font-family: Verdana;
    -fx-decorator-color: #8469C2;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 0 0 0;
}

.sidebar {
    -fx-background-color:  #F0EBFF;
}

.launch_background {
    -fx-background-image: url("/images/background_launch.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

.sidebar-user-icon:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-color: rgb(22, 169, 250);
    -fx-border-width: 0px 0px 0px 04px;
}

.custom_view {
    -fx-border-color: rgb(22, 169, 250);
    -fx-border-width: 0px 0px 01px 0px;
}

.icon-main_window:hover {
    -fx-border-color: rgb(22, 169, 250);
    -fx-border-width: 0px 2px 0px 02px;
}

.button2 {
    -fx-background-color : #fff;
    -fx-background-radius :  20;
}

.button2:hover {
    -fx-background-color : gainsboro;
    -fx-background-radius :  20;
}

.button2:pressed {
    -fx-background-color : gainsboro;
    -fx-background-radius :  20;
}

.counter_pane {
    -fx-background-color : #fff;
    -fx-background-radius :  20;
}

.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}